<p>Editar <%= resource_name.to_s.humanize %></p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field mb-4">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <% if current_user.pfp.present? %>
    <h2>Foto de perfil actual</h2>
    <%= image_tag current_user.pfp, class: "col-2 mb-4" %>
  <%end%>
  <div class="field">
    <%= f.label :pfp, 'Foto de perfil (URL)' %> <br>
    <%= f.text_field :pfp, autofocus: true, autocomplete: "new-pfp" %>
  </div>

  <div class="field">
    <%= f.label :name %> <br>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %> <!--Ni idea de que haga el autofocus-->
  </div>

  <div class="field">
    <%= f.label :phone %> <br>
    <%= f.text_field :phone, autofocus: true, autocomplete: "phone" %>
  </div>

  <div class="field">
    <%= f.label :age %> <br>
    <%= f.number_field :age, autofocus: true, autocomplete: "age" %>
  </div>

  <div class="field mb-3">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="field mb-3">
    <%= f.label :role, "¿Que describe mejor sus actividades en el sitio?" %> <br>
    <div class="fst-italic">
      <span>Usuario: Puede leer las noticias y comentar</span><br>
      <span>Editor: Puede redactar noticias para el diario</span> <br>
    </div>
    <%= f.select :role, options_for_select({ '1. Usuario' => :user, '2. Editor' => :author }, f.object.role), {}, autocomplete: "new-name" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<button class="btn btn-outline-dark" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  <div class="d-flex"><span>Opciones de eliminación</span> <i class=" ms-1 fa-solid fa-sort-down"></i></div>
</button>
<div class="collapse" id="collapseExample">
<div class="card card-body">
  <h3>Eliminar mi cuenta</h3>

  <div>Esta acción no puede deshacerse <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %></div>
</div>
</div>


<%= link_to "Back", :back , class:"d-block"%>
