<div id="<%= dom_id comment %>">
  <div class="row">
    <div class="col-1 text-center"><%=image_tag comment.user.pfp, class: "mypfp rounded-circle" %></div>
    <div class="ms-1 col-10">
      <span class="fw-bold"><%= comment.user.name%></span> <span class="fst-italic">Created <%= distance_of_time_in_words(comment.created_at, Time.now, include_seconds: true)%> ago...</span> <br>
      <%= comment.content %>
    </div>
  </div>
</div>
