<%= form_with(model: comment, url: publication_comments_path(@publication), local: true) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-2">
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content %>
    </div>

    <div class="col-2">
      <%= form.submit %>
    </div>
  </div>
<% end %>