<%= form_with(model: comment, url: publication_comments_path(@publication), local: true) do |form| %>
  <% if comment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row d-flex justify-content-center text-center">
    <div class="col-12">
      <%= form.label :content, "Publica un comentario", style: "display: block", class: "fs-4" %>
      <%= form.text_area :content, size: "120x3" %>
    </div>

      <div class="col-12"><%= form.submit "Comentar" %></div>
  </div>
<% end %>