<div id="<%= dom_id publication %>">

  <p class="fw-bold display-3 m-0">
    <%= publication.title %>
  </p>
  <p class="fs-4">
    <strong>Por:</strong>
    <%= publication.user.name %>
  </p>

  <p>
    <%= image_tag publication.image, class: "col-4" %>
  </p>

  <p>
    <%= publication.description %>
  </p>



</div>
