<div id="<%= dom_id publication %>">
  <p>
    <strong>Image:</strong>
    <%= publication.image %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= publication.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= publication.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= publication.user_id %>
  </p>

</div>
