<h1>Publications</h1>

<div id="publications">
  <% if show_user_publications %>
    <% @publications.each do |publication| %>
      <% if publication.user_id == params[:user_id].to_i %>
        <div class="border my-5 px-5 py-4">
          <%= render publication %>
          <p class="mb-0">
            <%= link_to "Ver publicación", publication %>
          </p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <% @publications.each do |publication| %>
      <div class="border my-5 px-5 py-4">
        <%= render publication %>
        <p class="mb-0">
          <%= link_to "Ver publicación", publication %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New publication", new_publication_path %>
