<%= render @publication %>

<div id="comment-section" class="my-4">
  <div class="border">
    <%= render "comments/form", comment: @comment %>
  </div>
  
  <div class="border px-5 py-4">
    <% @comments.each do |comment| %>
      <div class="mb-3"><%= render partial: "comments/comment", locals: { comment: comment } %></div>
    <% end %>
  </div>
</div>

<div>

  <%= link_to "Volver", publications_path, class: "btn btn-light mybtn text-white" %>

  <%if user_signed_in?%>
  
    <%if current_user.id == @publication.user_id%> <!--Solo el autor puede editar sus publicaciones ahora-->
      <%= link_to "Editar publicación", edit_publication_path(@publication) %> |
      <%= button_to "Eliminar publicación", @publication, method: :delete %>
    <%end%>
  <%end%>

</div>
