<div class="user-reverlator pt-3 pe-3 text-end">
  <% if user_signed_in? %>
    <span><span class="fw-bold">Sesión iniciada como:</span> <%=current_user.name%></span> <br>
    <span><span class="fw-bold">Rol:</span> <%=current_user.role.to_s%></span>
  <%end%>
</div>
<div class="w-100 d-flex justify-content-center">
    <%= image_tag 'logo.png', class: "mylogo text-center my-4" %>
</div>
<nav class="navbar navbar-expand-lg mynav p-0 mt-3">
    <div class="container-fluid mx-5">
      <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <%= link_to "Inicio", root_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
            <% if user_signed_in? %>
                <%= link_to edit_user_registration_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" do%>
                <span>Mi cuenta</span>
                <%end%> <!--current_user.name-->
                <%= link_to 'Mis entradas' , user_publications_path(current_user), class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                <%= link_to 'Mis comentarios' , user_comments_path(current_user), class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                <%= link_to "Salir", destroy_user_session_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
            <%else%>
                <%= link_to "Entrar", new_user_session_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
                <%= link_to "Registrarse", new_user_registration_path, class: "nav-link fw-bold text-white px-4 py-3 mylinks" %>
            <%end%>
        </div>
      </div>
    </div>
  </nav>